*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#main{
    height: 100%;
    width: 100%;
    background-color: #111;
}

body{
    color: white;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1{
    overflow: hidden;

}

h1 span{
    display: inline-block;
}