*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: #111;
}

#string{
    height:400px;
    width:100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}